.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}